#register_cont {
  display: grid;
  grid-template: 20% 60% 20%/20% 60% 20%;
  height: 100vh;
}
#register_form {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

#footer_register {
  align-self: flex-end;
  grid-row: 3;
  grid-column: 1/4;
}

#nav_register {
  align-self: flex-start;
  grid-row: 1;
  grid-column: 1/4;
}
